.FormComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .form {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;

    .formInput {
      width: 30rem;
      display: flex;
      justify-content: space-between;
    }

    .btn {
      margin: 0;

    }

    .btn-danger {
      width: 150px;
      height: 61px;
    }

    .btn-warning {
      width: 250px;
      height: 61px;
      background-color: var(--white200);
      border: var(--white200);
    }
  }

  .departamento {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0 20px;

    .table {
      margin-top: 0;
      width: 30rem;
      border: transparent;
    }

  }

  .maps {
    height: 15rem;
    width: 27rem;
    border-radius: 4px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;

    h3 {
      color: var(--white);
      text-align: start;
      margin-top: 4.375rem;
      /* margin-bottom: 5rem; */
      margin-left: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .FormComponent {
    display: flex;
    flex-direction: column;

    .form {
      width: 100% !important;
      padding: 50px 20px;

      .formulario {
        width: 100%;
      }

      .formInput {
        width: 100%;
      }

      .formbtn {
        display: flex !important;
        flex-wrap: wrap;

        button{
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }

    .departamento {

      h3{
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .table {
        width: 100%;

        thead{
          width: 100%;
        }

        tbody{
          width: 100%;
        }
      }

      .maps {
        width: 90vw;
      }
    }
  }
}