:root {
  --red: #B91C1C;
  --dark: #111827;
  --dark200: #353436;
  --violet: #481A8F;
  --white: #FFFFFF;
  --white200: #F3F4F6;
  --blue: #3B5999;
  --red200: #EE3A5D;
  --blue200: #00A0D0;
}

body {
  font-family: 'Mukta', sans-serif;
}

h3 {
  font-weight: bold;
}